.date {
    width: 90%;
    padding: 0.5rem;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 0.2rem;
}
.scheduleTable {
    text-align: center;
    width: 100%;
}
.addSetButton {
    padding: 0.01rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
}
.addSetButton button {
    width: 100%
}

.exerciseTable {
    text-align: center;
    width: 100%;
}

.formGroup {
    display: flex;
    flex-direction: row;
}

.formGroup label {
    font-weight: bold;
}

.formGroup input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.exerciseGroup {
    display: flex;
    flex-direction: row;
}

.setGroup {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
}

.buttonGroup {
    display: flex;
    gap: 0.5rem;
}

.addButton,
.submitButton,
.removeButton {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    width: 100%;
}

.addButton {
    background-color: #007bff;
}

.submitButton {
    background-color: #28a745;
}

.removeButton {
    background-color: #dc3545;
    margin-left: auto;
}

.addButton:hover {
    background-color: #0056b3;
}

.submitButton:hover {
    background-color: #218838;
}

.removeButton:hover {
    background-color: #c82333;
}