.removeButton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #c82333;
    cursor: pointer;
    margin: 10px;
}

.removeButton:hover {
    background-color: #ffffff;
}

.inidividualExerciseSet {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.addButton {
    margin: 10px;
    width: 90%;
    padding: 10px;
    background-color: #579639;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #0056b3;
}