.labels {
    justify-content: space-between;
    margin: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.unitSelect {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 12%;
}
.unitSelect option {
    justify-content: space-between;
    margin: 5px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
.input {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 12%;
}